#tabPane{
    -fx-background-image:url("bg.jpg");
}

.date-picker-popup{
    -fx-background-color:#0AA8E9;
}

.date-picker-popup .month-year-pane{
    -fx-background-color:#0AA8E9;
    -fx-color: black;
}
.date-picker-popup .month-year-pane .secondary-label{
    -fx-background-color:black;
    -fx-text-fill: black;
    -fx-font-size:10px;
}

.date-picker-popup .date-cell{
    -fx-background-color:transperent;
    -fx-text-fill: white;
}

.date-picker-popup .date-cell:hover{
    -fx-background-color:teal;
    -fx-text-fill: white;
}

.date-picker-popup .day-cell{
    -fx-background-color:transperent;
    -fx-text-fill: black;
}

.date-picker-popup .day-cell:hover{
    -fx-background-color:teal;
    -fx-text-fill: white;
}

.date-picker-popup .arrow-button .arrow{
    -fx-color:#fff;
}
