#tabPane{
    -fx-background-image:url("bg.jpg");
    -fx-background-repeat:no-repeat;
}

#pane{
    -fx-background-image:url("bg.jpg");
    -fx-background-repeat:no-repeat;
}

.date-picker-popup{
    -fx-background-color:transparent;
}

.date-picker-popup .month-year-pane{
    -fx-display: none;
    -fx-background-color:transparent;
    -fx-text-fill: black;
}
.date-picker-popup .month-year-pane .secondary-label{
    -fx-background-color:black;
    -fx-text-fill: black;
    -fx-font-size:10px;
}

.date-picker-popup .date-cell{
    -fx-text-fill: white;
}

.date-picker-popup .date-cell:hover{
    -fx-background-color:gold;
    -fx-text-fill: white;
}

.date-picker-popup .day-cell{
    -fx-text-fill: black;
}

.date-picker-popup .day-cell:hover{
    -fx-background-color:gold;
    -fx-text-fill: white;
}

.date-picker-popup .arrow-button .arrow{
    -fx-color:#fff;
}
